body{
    background-color: cornsilk;
}

#Bacon {
    color: crimson;
    text-shadow: 2px 2px #FFE194;
}
#Broccoli {
    color: darkolivegreen;
    text-shadow: 2px 2px #FFE194;

}

.broccoli {
    
    height: 160px;
    width: 160px;
}
.broccoli:hover {
    width: 200px;
    height: 200px;
}
.bacon:hover {
    width: 200px;
    height: 200px;
}
hr {
     border-style: none;
     border-top-style: dotted;
     border-width: 10px;
     width: 20%;
     border-color: peru; 
}
.bc {
    color: tan;
    font-weight: bold;
}